.countdown {
  padding: 6rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;

  background: #f7f2eb;
}

.time-box {
  width: 140px;
  height: 140px;

  background: white;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.time-box h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  color: #3d342f;
  font-weight: 500;
}

.time-box span {
  margin-top: 8px;

  font-size: .95rem;

  text-transform: uppercase;

  letter-spacing: 2px;

  color: #7b6d66;
}

@media (max-width:768px){

.countdown{

gap:1rem;

padding:4rem 1rem;

}

.time-box{

width:120px;
height:120px;

}

.time-box h2{

font-size:2.3rem;

}

}
