.giftsHero {
    width: 100%;
    padding: 170px 20px 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    background: #F8F5F0;
}

.giftsHero-icon {
    width: 2rem;
    height: 2rem;
    color: #D8C3A5;
    margin-bottom: 18px;
}

.giftsHero-title {
    font-family: "Playfair Display", serif;
    font-size: 3.7rem;
    font-weight: 500;
    color: #2F2A26;

    margin-bottom: 25px;
}

.giftsHero-text {
    max-width: 620px;

    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;

    color: #5B534D;
}
